#zcapt-refresh {
  position: absolute;
  top: 80%;
  left: 5%;
  height: 8%;
  background-color: #FFF;
  border-radius: 0.3em;
  transition: height 0.3s,left 0.3s,top 0.3s;
}

#zcapt-refresh:hover {
  height: 10%;
  left: 4%;
  top: 79%;
}

#zcapt-largeRefresh {
  width: 100%;
  height: 70%;
  margin-top: 10%;
  transition: height 0.3s, margin-top 0.3s;
}

#zcapt-largeRefresh:hover {
  height: 80%;
  margin-top: 5%;
}

.zcapt-refresh-fill {
  fill: #FFCCCC;
}

.zcapt-largeRefresh-fill {
  fill: #FFCCCC;
}