.zcapt-verified-fill {
  fill: #04B486;
}
.zcapt-verified {
  position: absolute;
  z-index: 12;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
#zcapt-verified-icon {
  width: 100%;
  height: 100%;
}